# {{ ansible_managed }}

{% if collectd_global is defined %}
{% for element in collectd_global %}
{{ element.directive }}
{% endfor %}
{% endif %}

## Always load syslog plugin so we can investigate issues

LoadPlugin logfile
LoadPlugin syslog
LoadPlugin csv
LoadPlugin apache
LoadPlugin cpu
#LoadPlugin load
LoadPlugin memory
LoadPlugin processes
#LoadPlugin write_graphite

<Plugin "logfile">
  LogLevel "info"
  File "/var/log/collectd.log"
  Timestamp true
</Plugin>

<Plugin "syslog">
  LogLevel "info"
</Plugin>

<Plugin "csv">
  DataDir "/var/lib/collectd/csv"
  StoreRates true
</Plugin>

<Plugin apache>
    <Instance "www1">
     URL "http://localhost/mod_status?auto";
   </Instance>
</Plugin>

# needs fixing
#<Plugin write_graphite>
#    <Node "graphing">
#        Host "localhost"
#        Port "2003"
#        Protocol "tcp"
#        LogSendErrors true
#        Prefix "collectd."
#        StoreRates true
#        AlwaysAppendDS false
#        EscapeCharacter "_"
#    </Node>
#</Plugin>



